<section class="mt-10 md:mt-28" id="features">
  <div class="space-y-3">
    <p class="text-center tracking-widest text-gray-500 text-sm md:text-base">RTRAVEL</p>
    <h2 class="text-center text-slate-600 text-xl md:text-3xl font-semibold mx-4 md:mx-0">Simplifie la planification de tes voyages</h2>
  </div>

  <div class="bg-[#EEFBF8] max-w-[1200px] h-auto lg:h-[550px] md:w-5/6  rounded-[50px] mx-3 md:mx-auto mt-8 md:mt-12 features_container overflow-hidden">

    <div class="pt-8 pl-4 pr-2 md:p-12 relative  overflow-hidden">
      <p-tabView>
        <p-tabPanel class="bg-red-500" header="Planification"  headerStyleClass="text-sm tab-small-padding">
          <ng-template pTemplate="plan">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-0">

              <div class="space-y-4 mt-4 lg:mr-16 lg:mt-10">
                <h3 class="text-2xl md:text-3xl">Planificateur de voyage complet</h3>

                <p class="leading-6 text-justify text-sm md:text-base">Garde un historique de tes voyages pour des souvenirs.
                  Gère ton voyage en renseignant l'ensemble de tes activités et leur localisation </p>

              </div>

              <div class="lg:col-span-2">
                <img
                  src="assets/images/landing-page/feature_homepage.png"
                  class="rounded-2xl w-full max-h-[400px]"
                  alt="Rtravel | Planificateur de voyage | accueil"
                  fetchpriority="high"
                />

                <img
                  src="assets/images/landing-page/mobile_homepage.jpg"
                  alt="Rtravel | Planificateur de voyage | accueil"
                  class="rounded-2xl w-[140px] md:w-[250px] absolute right-2 md:right-10 -bottom-16 md:-bottom-16 shadow-[0_-7px_32px_#0000001f]"
                  fetchpriority="high"
                />
              </div>

            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Collaboration" headerStyleClass="text-sm tab-small-padding">
          <ng-template pTemplate="participant">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-0">

              <div class="space-y-4 mt-4 lg:mr-16 lg:mt-10">
                <h3 class="text-2xl md:text-3xl">Collaborez à plusieurs sur votre voyage</h3>

                <p class="leading-6 text-justify text-sm md:text-base">
                  Ajoute des participants à ton voyage et défini si ils peuvent le modifier ou non.
                  Gère à plusieurs ton voyage facilement
                </p>

              </div>

              <div class="col-span-2">
                <img
                  src="assets/images/landing-page/feature_participants.png"
                  class="rounded-2xl w-full max-h-[400px]"
                  alt="Rtravel | Planificateur de voyage | accueil"
                />

                <img
                  src="assets/images/landing-page/mobile_participants.jpg"
                  alt="Rtravel | Planificateur de voyage | accueil"
                  class="rounded-2xl w-[140px] md:w-[250px] absolute right-2 md:right-10 -bottom-10 md:-bottom-16 shadow-[0_-7px_32px_#0000001f]"
                  fetchpriority="high"
                />
              </div>

            </div>
          </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Dépenses" headerStyleClass="text-sm tab-small-padding">
          <ng-template pTemplate="payments">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-0">

              <div class="space-y-4 mt-4 lg:mr-16 lg:mt-10">
                <h3 class="text-2xl md:text-3xl">Gérez les dépenses de votre voyage</h3>

                <p class="leading-6 text-justify text-sm md:text-base">
                  Liste toutes les dépenses de ton voyage et renseigne qui a payé.
                  À la fin, calcule une répartition équitable entre chacun
                </p>

              </div>

              <div class="col-span-2">
                <img
                  src="assets/images/landing-page/feature_payments.png"
                  class="rounded-2xl w-full max-h-[400px]"
                  alt="Rtravel | Planificateur de voyage | accueil"
                  fetchpriority="high"
                />

                <img
                  src="assets/images/landing-page/mobile_payments.png"
                  alt="Rtravel | Planificateur de voyage | accueil"
                  class="rounded-2xl w-[140px] md:w-[250px] absolute right-2 md:right-10 -bottom-12 md:-bottom-24 shadow-[0_-7px_32px_#0000001f]"
                  fetchpriority="high"
                />
              </div>

            </div>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>

  </div>

</section>
