<div class="mt-3 mx-2">
  <p-tabView [(activeIndex)]="activeIndex" (onChange)="onChangeTab($event)">
    <p-tabPanel header="Aperçu" headerStyleClass="text-sm tab-small-padding">
      <ng-template pTemplate="content">
        <div class="space-y-4">
          <app-trip-widget-next-activity/>
        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Activités" headerStyleClass="text-sm tab-small-padding">
      <ng-template pTemplate="content">
          <app-trip-activities-date-tabs/>
      </ng-template>

    </p-tabPanel>
    <p-tabPanel header="Participants" headerStyleClass="text-sm tab-small-padding">
      <ng-template pTemplate="content">
        <div class="space-y-4">
          <app-participants-list/>
        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Budgets" headerStyleClass="text-sm tab-small-padding">
      <ng-template pTemplate="content">
        <div class="space-y-4">
          <p>Onglet budget</p>
        </div>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Paramètres" headerStyleClass="text-sm tab-small-padding">
      <ng-template pTemplate="content">
        <div class="space-y-4">
          <p>Onglet paramètres</p>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
