<p-sidebar
  [visible]="sidebarVisible()"
  position="bottom"
  styleClass="h-[90%] rounded-t-3xl"
  (visibleChange)="onVisibilityChange($event)"
  transitionOptions="400ms cubic-bezier(.44, .63, 0, 1)"
>
  <ng-template pTemplate="header">
    <div>
      <h3 class="text-2xl font-extrabold">Modification activité</h3>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <app-form-activity [activityToEdit]="activityToEdit()"  (onSubmitSuccess)="handleSubmitSuccess()" />
  </ng-template>
</p-sidebar>
