<div class="grid grid-cols-2 gap-4">
  <p-button class="p-fluid" styleClass="py-4 h-auto text-black flex-row-reverse gap-2"  severity="secondary" loadingIcon outlined>
      <p class="flex items-center gap-2">
        <img src="/assets/images/brand/google.png" width="20">
        <span>Google</span>
      </p>
  </p-button>
  <p-button class="p-fluid" styleClass="py-4 h-auto text-black flex-row-reverse gap-2"  severity="secondary" loadingIcon outlined>
    <p class="flex items-center gap-2">
      <img src="/assets/images/brand/facebook.png" width="20" class="rounded">
      <span>Facebook</span>
    </p>
  </p-button>
</div>
