<p-card>
  <ng-template pTemplate="header">
    <div class="flex gap-2 items-center font-semibold p-3">
      <lucide-icon name="map" size="16" strokeWidth="3"/>
      <h3>Carte</h3>
    </div>
  </ng-template>

  <div [class]="mode === 'normal' ? 'p-6 pt-0' : ' h-screen absolute top-0 left-0 w-full z-50'" >
    <p-button (onClick)="changeMapMode()" class="absolute right-16 mt-2.5 z-10" styleClass="px-0.5 py-1" severity="contrast">
      @if(mode === "normal") {
        <lucide-icon name="maximize2" size="20" class="h-[16px]" strokeWidth="3"/>
      }
      @else {
        <lucide-icon name="minimize2" size="20" class="h-[16px]" strokeWidth="3" />
      }
    </p-button>
    <div [class]="(mode === 'normal' ? 'h-[300px] rounded-2xl' : 'h-full') + ' w-full absolute'" id="map-widget"></div>
  </div>

</p-card>

