<section class="pb-6">

  <lucide-icon name="arrow-left" size="26" strokeWidth="3" class="p-0 ml-2 mt-4 cursor-pointer " (click)="returnToBudgetPage()" />

  @if(!isLoaded) {
    <div class="w-full h-full flex justify-center">
      <div role="status" class="mt-80">
        <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
      </div>
    </div>
  }
  @else {
    <div class="flex justify-between items-center mx-6 mt-2 mb-5">
      <p class="text-4xl font-semibold tracking-wider">{{ getTotalPaymentsAmount() % 1 !== 0 ? (getTotalPaymentsAmount() | number:'1.2-2') :getTotalPaymentsAmount() }} €</p>

      @if(showRepartition) {
        <div class="w-12 h-12 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer" (click)="showRepartition = false">
          <lucide-icon name="list" size="23" class="h-[23px]"/>
        </div>
      }
      @else {
        <div class="w-12 h-12 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer" (click)="showRepartition = true; ; firstLoad = false">
          <lucide-icon name="calculator" size="23" class="h-[23px]"/>
        </div>
      }


    </div>

    <div class="grid grid-cols-2 mx-6 gap-2 mt-3">
      @for (participant of participantsWithTotal; track participant.id) {
        <div class="border border-solid border-gray-300 rounded-xl p-2 w-full flex items-center gap-4">
          <div class="w-9 h-9 rounded-full bg-primary flex justify-center items-center text-white">
            {{participant.name[0]}}
          </div>
          <div>
            <p>{{participant.name}}</p>
            <span class="text-gray-400 text-sm">{{ participant.total % 1 !== 0 ? (participant.total | number:'1.2-2') : participant.total }} €</span>
          </div>
        </div>
      }
    </div>

    <p-divider></p-divider>

    @if(showRepartition) {
      <div [@slideInRight] class="px-4 mt-6">


        @if(transactionsRepartitionByParticipant().length > 0) {
          <h3 class="text-sm">Répartition égale entre chaque participant</h3>

          <div class="space-y-6 mt-4">
            @for(participant of transactionsRepartitionByParticipant();let i = $index;  track i) {
              <div class="border border-solid border-slate-300 p-4 rounded-xl">
                <div class="flex items-center gap-2">
                  <div class="w-9 h-9 rounded-full bg-primary flex justify-center items-center text-white">
                    {{participant.name[0]}}
                  </div>
                  <span>{{participant.name}}</span>
                </div>
                <ul class="m-0 space-y-3 mt-3">
                  @for(transaction of participant.transactions; let j = $index; track j) {
                    <li>
                      Doit {{ transaction.amount.toFixed(2) }} € à {{ transaction.to }}
                    </li>
                  }
                </ul>
              </div>
            }
          </div>
        }
        @else {
          <h3 class="text-center text-xl">Rtravel s'occupe de la répartition de vos dépenses !</h3>
          <img
            ngSrc="/assets/images/icons/repartition-equal.svg"
            width="400"
            height="200"
            class="block mx-auto mt-5"
          />

          <p class="mt-4 text-center text-gray-400 leading-6">Rtravel calcule automatiquement une répartition égale des dépenses entre chaque participant du voyage</p>
        }
      </div>
    }
    @else {
      <div [@slideInLeft] [@.disabled]="firstLoad" class="p-4 flex flex-col pt-0 gap-8 mt-6">
        @for (group of getOrganizedPayments(); track group.date) {
          @if(group) {
            <div class="space-y-4">
              <h4 class="text-gray-600 first-letter:uppercase">{{ group.date }}</h4>
              <div class="space-y-4">
                @if (group.payments.length > 0) {
                  @for (payment of group.payments; track payment) {
                    <!-- Affichage de chaque paiement -->
                    <div class="w-full flex justify-between items-center">
                      <div class="flex gap-3 items-center">
                        <div class="w-9 h-9 rounded-full bg-primary flex justify-center items-center text-white">
                          {{ payment.user ? payment.user.username?.[0] : payment.participant?.name?.[0] }}
                        </div>
                        <div class="flex flex-col">
                          <span>{{ payment.user ? payment.user.username : payment.participant?.name }}</span>
                          @if(payment.description) {
                            <span
                              class="text-xs text-gray-400">
                            {{ payment.description.length > 25 ? payment.description.substring(0, 25) + '...' : payment.description}}
                        </span>
                          }
                        </div>
                      </div>
                      <div class="flex items-center gap-1">
                        {{ payment.amount % 1 !== 0 ? (payment.amount | number:'1.2-2') : payment.amount }} €

                        <p-menu [model]="items" [popup]="true" #menu appendTo="body" styleClass="text-xs w-[110px]" [attr.payment]="payment.id">
                          <ng-template pTemplate="item" let-item >
                            <div class="p-menuitem-link space-x-1.5" [attr.payment]="payment.id">
                              <lucide-icon [size]="14" [name]="item.icon" class="text-gray-400 h-[14px]" [attr.payment]="payment.id"></lucide-icon>
                              <span [attr.payment]="payment.id">{{ item.label }}</span>
                            </div>
                          </ng-template>
                        </p-menu>
                        <lucide-icon name="ellipsis-vertical" (click)="menu.toggle($event)" class="text-slate-400 cursor-pointer h-full block" size="20"></lucide-icon>
                      </div>
                    </div>

                    <p-confirmDialog #cd [key]="payment.id.toString()" styleClass="w-5/6">
                      <ng-template pTemplate="headless" let-message>
                        <div class="flex flex-col items-center p-3 surface-overlay border-round">
                          <div class="rounded-full bg-primary inline-flex justify-center items-center h-[5rem] w-[5rem] -mt-16">
                            <lucide-icon name="circle-help" size="45" class="text-white h-[45px]"></lucide-icon>
                          </div>
                          <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
                          <p class="mb-0 text-center text-gray-400">{{ message.message }}</p>
                          <div class="flex align-items-center gap-2 mt-4">
                            <button pButton label="Supprimer" (click)="cd.accept()"></button>
                            <button pButton label="Annuler" (click)="cd.reject()" outlined></button>
                          </div>
                        </div>
                      </ng-template>
                    </p-confirmDialog>
                  }
                }
              </div>
            </div>

          }

        }
      </div>
    }

  }

</section>


@if(paymentToEdit !== undefined) {
  <app-form-payment [sidebarVisible]="paymentToEdit !== undefined" (onChangeVisibility)="onChangeVisibility($event)" [paymentEditingValue]="paymentToEdit" (onCreatePayment)="handleUpdatePayment($event)" />
}
