<div class="mt-6">
  <a href="{{constants.googleOAuthLink}}" class="no-underline">
    <p-button
      class="p-fluid" styleClass="py-3 md:py-4 h-auto text-black flex-row-reverse gap-2 w-3/4 flex mx-auto"
      severity="secondary"
      loadingIcon
      outlined
    >
      <p class="flex items-center gap-2 text-slate-600 no-underline" href="google.com">
        <img
          ngSrc="assets/images/brand/google.png"
          alt=""
          width="20"
          height="20"
        >
        <span>Continuer avec google</span>
      </p>
    </p-button>
  </a>
</div>
