@if (isLoaded) {
  @if (budget || payments.length > 0) {
    <div class="flex flex-col gap-4 pb-6">

      <div [class]="'grid grid-cols-1 gap-4 '  + (budget ? ' lg:grid-cols-2' : '')">
        @if (budget) {
          <app-budget-circle-recap-chart [budget]="budget"
                                         [totalPaymentsAmount]="getTotalPaymentsAmount()"
                                         (onUpdateBudget)="budget = $event" (onRemoveBudget)="budget = undefined"/>
        }
        @if (payments.length > 0) {
          <p-card styleClass="h-full">
            <ng-template pTemplate="header">
              <div class="flex gap-2 items-center font-semibold p-3 pb-0">
                <lucide-icon name="coins" size="30"/>
              </div>
            </ng-template>
            <div [class]="'p-4 flex flex-col justify-center items-center pt-0 h-full ' + (budget ? ' lg:pt-12' : '')">
              <p class="text-4xl font-bold">{{ getTotalPaymentsAmount() }} €</p>
              <p class="text-xs text-gray-400 italic">dépensés</p>
            </div>
          </p-card>
        }
      </div>

      @if (payments.length > 0) {
        <app-budget-widget-last-payments [lastPayments]="payments.slice(0, 5)"/>
      }

      <app-create-budget-payment-btn [isBudgetExist]="budget !== undefined && budget !== null"
                                     (onCreateBudget)="budget = $event" (onCreatePayment)="payments.unshift($event)"/>
    </div>
  } @else {
    <div>
      <h3 class="text-center">Gère le budget de ton voyage !</h3>
      <img
        ngSrc="/assets/images/icons/Coins-amico.svg"
        width="280"
        height="200"
        class="block mx-auto mt-1"
      />

      <p class="text-sm text-center text-gray-500 mt-4">Renseigne les dépenses par participant et calcule une
        répartition équitable à la fin du voyage</p>

      <div class="mt-4 space-x-2 flex justify-center">
        <p-button styleClass="text-sm gap-2" outlined (click)="openFormBudget = true">
          <lucide-icon name="piggy-bank"/>
          Créer un budget
        </p-button>
        <p-button styleClass="text-sm gap-2" outlined (click)="openFormPayment = true">
          <lucide-icon name="coins"/>
          Ajouter une dépense
        </p-button>
      </div>

    </div>

    <app-form-budget [sidebarVisible]="openFormBudget" (onCreateBudget)="budget = $event"
                     (onChangeVisibility)="openFormBudget = $event"/>

    @if (openFormPayment) {
      <app-form-payment [sidebarVisible]="openFormPayment" (onCreatePayment)="payments.unshift($event)"
                        (onChangeVisibility)="openFormPayment = $event"/>
    }
  }

}
