<div>
  @if (tripService.tripSelected()) {
    <section @fade>
      <img
        [ngSrc]="tripService.tripSelected()?.cover ? (tripService.tripSelected()?.cover ?? '') :  constants.defaults.cover"
        width=800
        height=400
        class="trip_detail_cover absolute top-0 -z-10 rounded-b-[40%] w-full h-[200px] object-cover lg:relative lg:w-full lg:mx-auto lg:block lg:h-[180px] lg:rounded-none"
        priority
      >
      <app-trip-recap-card />
      <app-trip-navigation-tabs />
    </section>
  }
</div>
