<app-landing-page-header />

<div class="mt-12 pb-20 space-y-12 w-5/6 lg:w-3/4 mx-auto block">
  <h1 class="text-4xl lg:text-7xl">Mentions légales </h1>

  <div>
    <h3 class="text-2xl font-bold my-2">Éditeur du site</h3>

    <p>Ce site est édité par Rémy Castro.</p>

    <ul>
      <li>Email : {{'contact@rcastro.fr'}}</li>

      <li class="mt-4">Numéro d'identification : 92886821500015</li>
    </ul>
  </div>

  <div>
    <h3 class="text-2xl font-bold my-2">Développeurs du site</h3>

    <p class="">Ce site a été réalisé par Rémy CASTRO</p>
  </div>

  <div>
    <h3 class="text-2xl font-bold my-2">Hébergement</h3>

    <p>Ce site est hébérgé par la société Vercel Inc.</p>

    <ul>
      <li>Adresse : 340 S Lemon Ave #4133 Walnut, CA 91789</li>
      <li>Téléphone : (559) 288-7060</li>
    </ul>
  </div>

  <div>
    <h3 class="text-2xl font-bold my-2">Propriété Intellectuelle</h3>

    <p>
      Tout le contenu du présent sur le site rtravel.fr (hors site commercial), incluant, de façon non limitative, les graphismes, images,
      textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive
      de la société à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
      Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces
      différents éléments est strictement interdite sans l’accord exprès par écrit de Rtravel. Cette représentation ou
      reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et
      suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon
      pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus
      copiés pourraient intenter une action en justice à votre encontre.
    </p>
  </div>

  <div>
    <h3 class="text-2xl font-bold my-2">Données Personnelles</h3>

    <p>Les informations collectées à travers ce site sont destinées à Rtravel et ne seront utilisées que
      dans le cadre de la relation commerciale établie avec les utilisateurs de ce site. Conformément à la
      loi "Informatique et Libertés" du 6 janvier 1978, vous disposez d'un droit d'accès, de
      rectification
      et de suppression des données vous concernant. Pour exercer ce droit, veuillez nous contacter à
      l'adresse email {{'contact@rcastro.fr'}}.
    </p>
  </div>

  <div>
    <h3 class="text-2xl font-bold my-2">Cookies</h3>

    <p>Ce site utilise des cookies pour améliorer l'expérience de navigation des utilisateurs. En continuant
      à naviguer sur ce site, vous acceptez l'utilisation de cookies conformément à notre politique de
      confidentialité.
    </p>
  </div>
</div>

<app-landing-page-footer />
