<div class="w-full h-full min-h-screen relative overflow-hidden">
  <div class="mx-6 pt-2">
    <div class="flex items-center justify-center">
      <img
        src="assets/images/logo-text.svg"
        class="w-[100px]"
      />

    </div>

  <div class="mt-8">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate class="space-y-8">
      <div class="space-y-2 w-full">
        <label for="username"
               [class]="registerForm.get('username')?.touched && registerForm.get('username')?.errors ? 'text-red-500' : ''">Nom d'utilisateur</label>
        <input id="username" pInputText type="text" formControlName="username" class="w-full" placeholder="Matthieu"/>
      </div>
      <div class="space-y-2 w-full">
        <label for="email"
               [class]="registerForm.get('email')?.touched && registerForm.get('email')?.errors ? 'text-red-500' : ''">Adresse
          email</label>
        <input id="email" pInputText type="text" formControlName="email" class="w-full" placeholder="mathieu.dupont@example.com"/>
        @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors) {
          <span class="text-red-500 block">
           Entrez une adresse email valide
          </span>
        }
      </div>
      <div class="space-y-2 w-full">
        <label for="password" [class]="registerForm.get('password')?.touched && registerForm.get('password')?.errors ? 'text-red-500' : ''">Mot de passe</label>
        <div>
          <p-password
            id="password"
            formControlName="password"
            class="p-fluid"
            feedback="true"
            promptLabel="Entre un mot de passe"
            weakLabel="Mot de passe faible"
            mediumLabel="Mot de passe moyen"
            strongLabel="Mot de passe fort"
            placeholder="• • • • • • •"
          />
        </div>

        @if (registerForm.get('password')?.touched && registerForm.get('password')?.errors) {
          <span class="text-red-500 block">
           Le mot de passe doit contenir au moins 6 caractères
          </span>
        }
      </div>

      <div class="space-y-2 w-full">
        <label for="password" [class]="registerForm.get('password')?.touched && registerForm.get('password')?.errors ? 'text-red-500' : ''">Confirmer le mot de passe</label>
        <div>
          <p-password
            id="confirm_password"
            formControlName="confirm_password"
            class="p-fluid"
            feedback="false"
            placeholder="• • • • • • •"
          />
        </div>
      </div>

      <div class="space-x-3 text-sm ">
        <p-checkbox
          id="conditions"
          formControlName="accept_conditions"
          [binary]="true"
          label="J'accepte les conditions générales d'utilisation"
          [labelStyleClass]="registerForm.get('accept_conditions')?.touched && registerForm.get('accept_conditions')?.errors ? 'text-red-500' : ''"
        />
      </div>

      <div class="p-fluid">
        <p-button label="Créer mon compte" type="submit"/>
      </div>
    </form>
  </div>

  <!--
  <div class="mt-12 space-y-2">
    <hr/>
    <p class="text-sm text-center text-gray-500">Ou continuer avec</p>

    <div>
      <app-login-oauth/>
    </div>
  </div>
  -->

  <div class="text-center text-sm mt-8 text-gray-500">
    Déjà un compte ? <a routerLink="/connexion" class="text-primary no-underline">Connexion</a>
  </div>

    <img
      src="/assets/images/icons/bubble-dark.png"
      class="absolute -top-20 -left-28 w-[200px] z-20"
      alt=""
    >
    <img
      src="/assets/images/icons/bubble-light.png"
      class="absolute -top-16 -left-4 w-[150px]"
      alt=""
    >

    <img
      src="/assets/images/icons/bubble-dark.png"
      class="absolute -bottom-28  w-[200px] -right-36 rotate-45"
      alt=""
    >
    <img
      src="/assets/images/icons/bubble-light.png"
      class="absolute -bottom-40 -right-24 w-[200px] rotate-45 z-20"
      alt=""
    >


</div>
