<section class="mt-12 mb-20">
  <div class="space-y-3">
    <p class="text-center tracking-widest text-gray-500">RTRAVEL</p>
    <h2 class="text-center text-slate-600 text-3xl font-semibold">Démarre ton aventure maintenant</h2>

    <p-button styleClass="block mx-auto mt-6 rounded-full py-3 hover:bg-white hover:text-primary" routerLink="/inscription">Je m'inscris gratuitement</p-button>
  </div>

  <p class="text-center mt-12 text-slate-600 italic">Une application mobile est à venir !</p>

</section>
