<section class="h-screen relative overflow-hidden bg-[#F5F1E6] text-black">
  <header class="relative z-30">
    <div class="flex items-center m-3 relative">
      <img
        ngSrc="assets/images/logo-no-text.svg"
        width="80"
        height="58"
        alt=""
        class="w-[40px] md:w-[80px] h-auto"
      />
      <p class="font-bold text-lg md:text-2xl tracking-widest mt-0.5 md:mt-3">Rtravel</p>

    </div>

    <div class="bg-[#E3DCCF] block h-[2px]"></div>

  </header>


  <main class="mx-4">
    <div class="z-30 relative">
      <h1 class="text-center text-3xl md:text-4xl mt-6 font-bold">
        Rtravel t'aide à <br><span class="text-primary">planifier</span><br> tes voyages
      </h1>
      <p class="text-center mt-6 leading-7 font-thin">Créez, organisez et gérez le budget de votre voyage dans une application gratuite conçue pour les vacances.</p>

      <p-button styleClass="block mx-auto w-[130px] mt-4">C'est parti </p-button>

    </div>

    <div class="mt-4 md:mt-24">
      <img
        src="/assets/images/illustrations/traveler.png"
        class="w-full"
      />
    </div>
  </main>
</section>
