<section class="bg-[#F5F1E6] text-black h-full">
  <header>
    <div class="grid grid-cols-3">
      <div class="flex items-center p-3 ">
        <img
          ngSrc="assets/images/logo-no-text.svg"
          width="80"
          height="58"
          alt=""
          class="w-[40px] md:w-[80px] h-auto"
        />
        <p class="font-bold text-lg md:text-2xl tracking-widest mt-0.5 md:mt-1.5">Rtravel</p>

      </div>
      <div></div>
      <!-- Menu desktop -->
      <div class="hidden md:flex gap-8 items-center justify-center mt-3">
        <a href="#functionnalities" class="no-underline text-primary-dark text-lg">Fonctionnalités</a>
        <a routerLink="/connexion" class="no-underline text-primary-dark text-lg">Connexion</a>
        <!--<a href="" class="no-underline text-primary-dark text-lg">Contact</a>-->
      </div>
      <!-- Menu hidden -->
      <div class="flex md:hidden items-center justify-end mt-0.5 mr-6">
        <p-button styleClass="w-[32px] h-[32px] rounded-full" routerLink="/accueil">
          <lucide-icon name="user" size="20" class="h-[20px]" />
        </p-button>
      </div>
    </div>

    <div class="bg-[#E3DCCF] block h-[2px]"></div>

  </header>


  <main class="mx-4">
    <div class="">
      <h1 class="text-center text-3xl md:text-6xl mt-6 font-bold">
        Rtravel t'aide à <br><span class="text-primary">planifier</span><br> tes voyages
      </h1>
      <p class="text-center mt-6 leading-7 font-thin">Créez, organisez et gérez le budget de votre voyage dans une application gratuite conçue pour les vacances.</p>

      <p-button styleClass="block mx-auto w-[130px] mt-4" routerLink="/accueil">C'est parti </p-button>

    </div>
    <!-- Traveler illustration -->
    <div class="mt-4 md:mt-0">
      <img
        ngSrc="/assets/images/illustrations/traveler.webp"
        class="w-full md:w-[50%] md:max-w-[600px] h-auto md:block md:mx-auto"
        height="600"
        width="600"
        alt="Rtravel - Votre planificateur de voyage"
        priority
      />
    </div>

    <!-- Separator -->
    <img id="functionnalities" ngSrc="/assets/images/line_separator.svg" alt="" class="w-[90%] block mx-auto"
         height="104" width="712" loading="eager">


    <!-- Functionnalities -->
    <div class="mt-16 grid grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-16">

      <div class="h-[180px] w-full relative border-solid border-[1px] border-primary rounded-xl">

        <!-- absolute icon -->

        <img
          ngSrc="assets/images/icons/passport.png"
          width="80"
          height="100"
          class="w-[80px] h-auto absolute left-1/2 transform -translate-x-1/2 -top-10"
          alt=""
        />

        <div class="flex flex-col items-center mt-14 gap-4 mx-4">
          <h3 class="text-2xl font-semibold text-primary">Voyage</h3>

          <p class="text-center text-xs">Garde un historique de tes voyages pour des souvenirs</p>

        </div>

      </div>

      <div class="h-[180px] w-full relative border-solid border-[1px] border-primary rounded-xl">

        <!-- absolute icon -->

        <img
          ngSrc="assets/images/icons/travelers_group.png"
          width="100"
          height="100"
          class="w-[95px] h-auto absolute left-1/2 transform -translate-x-1/2 top-[-3rem] bg-[#F5F1E6]"
          alt=""
        />

        <div class="flex flex-col items-center mt-14 gap-4 mx-4">
          <h3 class="text-2xl font-semibold text-primary">Participant</h3>

          <p class="text-center text-xs">Contrôle le voyage avec tes amis </p>

        </div>

      </div>
      <div class="h-[180px] w-full relative border-solid border-[1px] border-primary rounded-xl">

        <!-- absolute icon -->

        <img
          ngSrc="assets/images/icons/money_sac.png"
          width="80"
          height="100"
          class="w-[80px] h-auto absolute left-1/2 transform -translate-x-1/2 -top-10 "
          alt=""
        />

        <div class="flex flex-col items-center mt-14 gap-4 mx-4">
          <h3 class="text-2xl font-semibold text-primary">Budget</h3>

          <p class="text-center text-xs">Gère le budget de ton voyage en listant les dépenses</p>

        </div>

      </div>
      <div class="h-[180px] w-full relative border-solid border-[1px] border-primary rounded-xl">

        <!-- absolute icon -->

        <img
          ngSrc="assets/images/icons/money_repartition.png"
          width="100"
          height="100"
          class="w-[85px] h-auto absolute left-1/2 transform -translate-x-1/2 top-[-2.8rem] bg-[#F5F1E6]"
          alt=""
        />

        <div class="flex flex-col items-center mt-14 gap-4 mx-3">
          <h3 class="text-2xl font-semibold text-primary">Répartition</h3>

          <p class="text-center text-xs pb-2">Calcule une répartition équitable entre chaque participant</p>

        </div>

      </div>
    </div>



  </main>

  <!-- Separator -->
  <img ngSrc="/assets/images/line_separator.svg" alt="" class="w-[90%] block mx-auto mt-10" alt="" height="104"
       width="712" loading="eager">


  <footer class="mt-4">
    <div class="max-w-screen-lg px-4 sm:px-6 text-gray-800 grid grid-cols-2 md:grid-cols-4 mx-auto">
        <div class="p-5">
          <img
            ngSrc="assets/images/logo-text.svg"
            width="200"
            height="100"
            alt=""
            class="w-[100px] h-auto"
          />
        </div>
        <div class="p-5">
          <div class="text-sm uppercase text-primary-dark font-bold">Liens utiles</div>
          <a class="my-3 block text-black no-underline" routerLink="/connexion">Se connecter</a>
          <a class="my-3 block text-black no-underline" routerLink="/inscription">S'inscrire</a>
        </div>
        <div class="p-5">
          <div class="text-sm uppercase text-primary-dark font-bold">Support</div>
          <a class="my-3 block text-black no-underline" routerLink="#">Conditions</a>
          <a class="my-3 block text-black no-underline" routerLink="#">Politique de confidentialité</a>
        </div>
        <div class="p-5">
          <div class="text-sm uppercase text-primary-dark font-bold">Contactez-nous</div>
          <a class="my-3 block text-black no-underline" href="/#">Formulaire</a>
          <a class="my-3 text-black no-underline flex items-center gap-2" href="mailto:contact@rcastro.fr">
            <lucide-icon name="mail" size="20" strokeWidth="2" class="text-primary-dark" />
            {{"contact@rcastro.fr"}}
          </a>
        </div>
      </div>

    <div>

      <p-divider styleClass="w-[50%] mx-auto" />

      <div class="pb-5 px-3 pt-5 border-t text-gray-800 text-sm text-center">
        <p>Développé par <a href="https://rcastro.fr" target="_blank">Rémy Castro</a></p>
        <div class="my-3">© Copyright {{dayjs().year()}}. Tous droits réservés.</div>
      </div>
    </div>
  </footer>

</section>
