<div class="w-full h-full min-h-screen relative overflow-hidden">
  <div class="mx-6 pt-16">
    <div class="flex items-center justify-center">
      <img
        src="assets/images/logo-text.svg"
        class="w-[140px]"
      />

    </div>


    <div class="mt-8">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="space-y-8">
        <div class="space-y-2 w-full">
          <label for="email"
                 [class]="loginForm.get('email')?.touched && loginForm.get('email')?.errors ? 'text-red-500' : ''">Adresse
            email</label>
          <input id="email" pInputText type="text" formControlName="email" class="w-full"/>
          @if (loginForm.get('email')?.touched && loginForm.get('email')?.errors) {
            <span class="text-red-500 block">
           Entrez une adresse email valide
          </span>
          }
        </div>
        <div class="space-y-2 w-full">
          <label for="password" [class]="loginForm.get('password')?.touched && loginForm.get('password')?.errors ? 'text-red-500' : ''">Mot de passe</label>
          <div>
            <p-password
              id="password"
              formControlName="password"
              class="p-fluid"
              feedback="false"
              promptLabel="Entre un mot de passe"
              weakLabel="Mot de passe faible"
              mediumLabel="Mot de passe moyen"
              strongLabel="Mot de passe fort"
            />
          </div>

          @if (loginForm.get('password')?.touched && loginForm.get('password')?.errors) {
            <span class="text-red-500 block">
           Le mot de passe doit contenir au moins 6 caractères
          </span>
          }
          <a href="#" class="mt-2 block text-sm text-right text-gray-500 no-underline  mr-1 italic">Mot de passe oublié ?</a>
        </div>

        <div class="p-fluid">
          <p-button label="Se connecter" type="submit"/>
        </div>
      </form>
    </div>

    <!--
    <div class="mt-12 space-y-2">
      <hr/>
      <p class="text-sm text-center text-gray-500">Ou continuer avec</p>

      <div>
        <app-login-oauth/>
      </div>
    </div>
    -->

    <div class="text-center text-sm mt-8 text-gray-500">
      Pas de compte ? <a routerLink="/inscription" class="text-primary no-underline">Inscription</a>
    </div>

  </div>


  <img
    src="/assets/images/icons/bubble-dark.png"
    class="absolute -top-16 -left-20 w-[200px] z-20"
    alt=""
  >
  <img
    src="/assets/images/icons/bubble-light.png"
    class="absolute -top-14 left-6 w-[150px]"
    alt=""
  >

  <img
    src="/assets/images/icons/bubble-dark.png"
    class="absolute -bottom-10  w-[200px] -right-28 rotate-45"
    alt=""
  >
  <img
    src="/assets/images/icons/bubble-light.png"
    class="absolute -bottom-36 -right-20 w-[250px] rotate-45 z-20"
    alt=""
  >

</div>
