@if (participant) {
  <p-card class="h-full relative" styleClass="h-full">
    <ng-template pTemplate="header">
      <div class="space-y-4 min-h-[132px]">
        <div class="w-12 h-12 rounded-full bg-primary flex text-xl justify-center items-center mx-auto mt-2 text-white">
          {{participant?.name && participant.name[0]}}
        </div>
        <p class="md:text-xl text-center">
          {{participant?.name}}
          <br/>
          @if(participant.isOwner) {
            <p-tag styleClass="font-normal px-2 py-0.5 mt-2">Gérant</p-tag>
          }
          @else if(participant.email === authService?.currentUserSig()?.email) {
            <p class="text-center text-xs text-gray-500 mt-2">(Moi)</p>
          }

        </p>
      </div>

      @if(!participant.isOwner) {
        <lucide-icon name="ellipsis-vertical" class="absolute top-1.5 right-1.5 cursor-pointer text-slate-300" size="20" (click)="onClickEditParticipant.emit(participant)"></lucide-icon>
      }
    </ng-template>
    <hr class="border-[#F1F5F9] border-t-0 border-x-0"/>
    <div class="pb-2">
      <p-button
        outlined
        styleClass="mx-auto block text-sm px-3 py-1"
        (click)="confirmDelete()"
        [disabled]="participant.email === authService?.currentUserSig()?.email || participant.isOwner"
        >
          Supprimer
      </p-button>
    </div>
  </p-card>

  <p-confirmDialog #cd [key]="participant.id.toString()">
    <ng-template pTemplate="headless" let-message>
      <div class="flex flex-col items-center p-5 surface-overlay border-round">
        <div class="rounded-full bg-primary inline-flex justify-center items-center h-[6rem] w-[6rem] -mt-16">
          <lucide-icon name="circle-help" size="50" class="text-white h-[50px]"></lucide-icon>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
        <p class="mb-0 text-center text-gray-400">{{ message.message }}</p>
        <div class="flex align-items-center gap-2 mt-4">
          <button pButton label="Supprimer" (click)="cd.accept()"></button>
          <button pButton label="Annuler" (click)="cd.reject()" outlined></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>
}
