// Scale the background drawer

body.overlay-active {
  right: 0px;
  position: fixed !important;
  top: 0px;
  left: 0px;
  height: auto;
  background: black;
  transition-delay: 50ms;
  transition-property: background-color;
}
main.overlay-active {
  transform-origin: center top;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1) 0s, border-radius;
  transition-delay: 50ms;
  border-radius: 15px;
  overflow: hidden;
  transform: scale(0.9371980676328503) translate3d(0, calc(env(safe-area-inset-top) + 14px), 0);
  background-color: white;
  min-height: 100vh;

  .trip_detail_cover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

body.overlay-closed {
  background-color: white;
  transition: 0.3s
}
main.overlay-closed {
  transition: transform 0.3s cubic-bezier(0.32, 0.72, 0, 1) 0s, border-radius;
  background-color: white;
  transform: scale(1) translate3d(0, 0, 0);
  transition-delay: 0s;
  min-height: 100vh;

}
