@import "primeng/resources/themes/aura-light-green/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100% }

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}



@font-face {
  font-family: "Rubik";
  src: url('./assets/fonts/rubik.ttf') format('truetype');
  font-weight: auto;
  font-style: normal;
}

* {
  font-family: "Rubik";
}

.p-button {
  justify-content: center;
  .p-button-label {
    font-weight: 400;
    flex: none;
  }
}

.p-card {
  border: .5px solid #E2E8F0;

  .p-card-body {
    padding: 0;
  }
}


.p-tabview .p-tabview-ink-bar {
  height: 2px;
}
.tab-small-padding a {
  @apply py-2.5 px-4 font-normal;
}

p  {
  margin: 0;
}


body,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: unset;
}

.ol-timeline-border {
  border-left: 1px solid rgb(229 231 235 / var(--tw-border-opacity)) !important;
}

.update-sidebar input:not([type="file"]) {
  @apply mt-8 border-b-[0.8px] border-t-0 border-l-0 border-r-0 border-black px-0 pt-0 rounded-none text-sm pb-4 ring-0 outline-0 w-[90%] mx-auto block
}
.update-sidebar .p-calendar input {
  @apply mt-0
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}
