<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

<!-- Creator of the trip -->
    <app-participant-card [participant]="tripOwner" class="h-full" />

  <!-- Loop through participants -->
  @for (participant of participants; track participant) {
    <div>
      <app-participant-card (onClickEditParticipant)="participantToEdit = $event" [participant]="participant" (onDeleteParticipant)="handleRemoveParticipantFromList($event)" class="h-full" />
    </div>
  }
</div>

<app-create-participant-btn (onCreateParticipant)="handleCreateParticipantFromList($event)" />

<app-edit-participant-sidebar
  (onCloseSidebar)="participantToEdit = undefined"
  [ParticipantToEdit]="participantToEdit"
  [sidebarVisible]="participantToEdit !== undefined"
  (onEditParticipant)="handleEditParticipantFromList($event)"
/>
